# Set to hard-link a specific dependency version (no ^)
# Version for dependencies are set explicitly 
save-prefix=""
# If this updates, also update the version in the Dockerfile
use-node-version=20.10.0
